*.o
*~
*.cache
*.log
Makefile
config.status
depcomp
.deps
s-terror/dns-terror
scripts/btree-dump
scripts/convert-dom-db
scripts/convert-ip-db
scripts/expire-ip-db
scripts/getdominfo
scripts/make-report
scripts/rebuild-dom-db
scripts/rebuild-ip-db
scripts/reresolve
