Source: fastresolve
Section: contrib/net
Priority: optional
Maintainer: David MacKenzie <dmac@dbmacnet.com>
# There doesn't appear to be a version-independent libdb++-dev virtual package, so we have to pick a particular version.
Build-Depends: debhelper (>= 9.0.0), autotools-dev, libadns1-dev, zlib1g-dev, libdb5.3++-dev
Standards-Version: 3.9.4
Homepage: https://github.com/dmacnet/fastresolve
#Vcs-Git: git://git.debian.org/collab-maint/fastresolve.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fastresolve.git;a=summary

Package: fastresolve
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, perl
Description: Fast DNS resolver for log files
 Fastresolve is a package of programs to process web log files to get
 DNS and domain ownership information for log analysis. It sends out
 many queries in parallel, and caches results, for speed.
