LOGFORMAT COMBINED
LOGFORMAT COMMON

HOSTNAME "Log File"

LOGFILE stdin
SEPCHAR ,

# In addition to '*.html' and '*/', add these as "pages".
PAGEINCLUDE *.HTML,*.HTM,*.htm,*.SHTML,*.shtml,*.cgi,/cgi-bin/*,*.pl

ALL OFF

# Plot number of pages requested in all of the graphs (the default).
ALLGRAPH P

# No pie charts, for brevity.
ALLCHART OFF

# Time reports:
DAILY ON
DAYCOLS RBP

FULLDAILY ON
FULLDAYCOLS RBP
# How many time periods (full days) to report on.
FULLDAYROWS 32

HOURLY ON
HOURCOLS RBP

# Other reports:
SIZE ON
SIZECOLS RrBb

FILETYPE ON
TYPECOLS Rrb
TYPESORTBY BYTES

DIRECTORY ON
DIRCOLS Rrb
SUBDIR */*
DIRSORTBY REQUESTS
SUBDIRSORTBY REQUESTS
DIRFLOOR 0.01%r
SUBDIRFLOOR 0.01%r

REQUEST ON
REQCOLS Rrb
REQFLOOR 0.01%r

FAILURE ON
FAILCOLS Rr

STATUS ON
STATUSCOLS Rr

BROWSER ON
BROWCOLS Rr
BROWSORTBY REQUESTS
SUBBROWSORTBY REQUESTS
BROWFLOOR 0.1%r
SUBBROWFLOOR 0.1%r

REFERER ON
REFCOLS RrPp
REFSORTBY REQUESTS
REFFLOOR 0.01%r

DOMAIN ON
DOMCOLS Rrb
DOMSORTBY REQUESTS
SUBDOMSORTBY REQUESTS
DOMFLOOR 0.01%r
SUBDOMFLOOR 0.01%r

# Not needed; make-report rewrites the log file with IP addresses resolved.
# DNS READ
# DNSFILE ./dns.cache
# DNSGOODHOURS 840 # 35 days
# DNSBADHOURS 840 # 35 days

# Not usable; whois resolution became convoluted with multiple registrars
# and getdominfo has not been updated accordingly.
# SUBDOMAIN directives for each domain.
# CONFIGFILE ./subdomains.cfg
